.header{
    display: flex;
    align-items: center;
 
    justify-content: space-between;
}
.loginbtn{
    
    font-size: 1.5rem;
}
.insidediv{
    display: flex;
    gap:100px;
    align-items: center;
    justify-content: center;
}